* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.ms-bg-header {
    color: white;
    background-color: #1B72E8;
    padding: 1em 0.8em;
}

.ms-btn-primary {

    color: white;
    border: 1px solid white;
}

/* regole macrostruttura */
header {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

#main-nav {
    height: calc(100vh - 70px);
    width: 70px;
    background-color: #051E34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

#main-content {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}


/* regole header */
.desktop-logo {
    display: none;
}

.ms-logo {
    width: 36px;
}

.input-group {
    background-color: #E5E5E5;
    padding: 0.2em 0.5em;
    border-radius: 4px;
}

.fa-magnifying-glass {
    align-self: center;
}

.form-control {
    background-color: #E5E5E5;
    border: none;
}
.form-control:focus {
    background-color: #E5E5E5;
    box-shadow: none;
}

.desktop-icon {
    display: none;
}

.icon-header {
    font-size: 20px;
    display: flex;
    gap: 0.8em;
}

.fa-bell {
    color: #FF8F00;
}

/* regole main nav */
.ms-nav-item {
    color: white;
    padding: 0.4em 0.8em;
}
.ms-nav-item:hover {
    background-color: #ffffff73;
}

.ms-nav-item a {
    display: none;
}

/* regole top main container */
.ms-flex-containe {
    display: flex;
    align-items: center;
}


/* regole generali main-content */
.ms-main-container {
    height: calc(100vh - 70px);
    width: calc(100vw - 70px);
    overflow: auto;
}

.box {
    width: 100%;
    margin: 4px 0;
    border: 1px solid grey;
    border-radius: 8px;
}

.ms-box-title {
    border-radius: 8px 8px 0 0;
    background-color: #F7F7F7;
    padding: 0.5em 1em;
    border-bottom: 1px solid grey;
}

.table-desktop {
    display: none;
}

/* regole responsive */
@media screen and (min-width: 1200px) {

    /* header */
    .mobile-logo {
        display: none;
    }

    .desktop-logo {
        display: inline-block;
    }

    .desktop-icon {
        display: inline-block;
    }

    /* main nav */
    #main-nav {
        width: 140px;
    }

    .ms-nav-item a {
        display: inline;
        color: white;
        width: 80px;
    }

    .ms-nav-item a:hover {
        color: white;
    }

    .ms-nav-item i {
        width: 20px;
    }

    /* main content */

    .ms-main-container {
        height: calc(100vh - 70px);
        width: calc(100vw - 140px);
        overflow: auto;
    }

    .table-desktop {
        display: block;
    }
}